In [1]:
import numpy as np
import pandas as pd

# EDA
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [4]:
train_df = pd.read_csv('./dataset/train.csv')
test_df = pd.read_csv('./dataset/test.csv')
sub = pd.read_csv('./dataset/sample_submission.csv')

In [5]:
print(train_df.shape)
print(test_df.shape)
print(sub.shape)

(122400, 10)
(10080, 9)
(10080, 2)

In [7]:
train_df.columns = ['num','datetime','target','temperature','windspeed','humidity','precipitation','insolation','nelec_cool_flag','solar_flag']
test_df.columns = ['num','datetime','temperature','windspeed','humidity','precipitation','insolation','nelec_cool_flag','solar_flag']

In [8]:
train_df.head()

,num,datetime,target,temperature,windspeed,humidity,precipitation,insolation,nelec_cool_flag,solar_flag
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [22]:
train_df['num'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60])

In [23]:
test_df.isnull().sum()

num                   0
datetime              0
temperature        6720
windspeed          6720
humidity           6720
precipitation      8400
insolation         6720
nelec_cool_flag    7784
solar_flag         8456
dtype: int64

In [24]:
train_df.tail()

,num,datetime,target,temperature,windspeed,humidity,precipitation,insolation,nelec_cool_flag,solar_flag,THI
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0,77.80896
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0,77.44917
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0,77.44917
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0,77.52246
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0,77.64775

In [25]:
train_df.groupby('num')['datetime'].count()

num
1     2040
2     2040
3     2040
4     2040
5     2040
6     2040
7     2040
8     2040
9     2040
10    2040
11    2040
12    2040
13    2040
14    2040
15    2040
16    2040
17    2040
18    2040
19    2040
20    2040
21    2040
22    2040
23    2040
24    2040
25    2040
26    2040
27    2040
28    2040
29    2040
30    2040
31    2040
32    2040
33    2040
34    2040
35    2040
36    2040
37    2040
38    2040
39    2040
40    2040
41    2040
42    2040
43    2040
44    2040
45    2040
46    2040
47    2040
48    2040
49    2040
50    2040
51    2040
52    2040
53    2040
54    2040
55    2040
56    2040
57    2040
58    2040
59    2040
60    2040
Name: datetime, dtype: int64

In [15]:
train_df['humidity']/100

0         0.92
1         0.91
2         0.91
3         0.91
4         0.92
          ...
122395    0.68
122396    0.71
122397    0.71
122398    0.74
122399    0.75
Name: humidity, Length: 122400, dtype: float64

In [18]:
THI(17.6, 92)

63.430080000000004

In [19]:
def THI(temp, hum):
    index = (1.8 * temp) - 0.55 * (1 - (hum/100)) * (1.8*temp - 26) + 32
    return index

train_df['THI'] = train_df.apply(lambda x: THI(x['temperature'], x['humidity']), axis=1)

In [20]:
train_df['THI']

0         63.43008
1         63.56993
2         63.22775
3         62.54339
4         62.39760
            ...
122395    77.80896
122396    77.44917
122397    77.44917
122398    77.52246
122399    77.64775
Name: THI, Length: 122400, dtype: float64

In [11]:
train_df.isnull().sum()

num                0
datetime           0
target             0
temperature        0
windspeed          0
humidity           0
precipitation      0
insolation         0
nelec_cool_flag    0
solar_flag         0
dtype: int64